<html>
    <head>
        <title>Brands of Shoes</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <style></style>
    </head>
    <body>
        <div class="container">
            <h1>List of All Brands:</h1>
            {% if brands is not empty %}
            <ul>
                {% for brand in brands %}
                <li>
                    <a href="/brand/{{ brand.getId }}">{{ brand.getBrandName }}</a>
                </li>
                {% set id = brand.getID %}
                {% for store in stores %}
                <ul>
                    {% if store.getBrands == id %}
                    <li>
                        <strong>{{ store.getStoreName }}</strong><br/>{{ task.getDueDate }}
                    </li>
                    {% endif %}
                </ul>
                {% endfor %}
                {% endfor %}
            </ul>
            {% else %}
            <h3>You have no Brands!</h3>
            {% endif %}

            <p>
                <a class="btn btn-primary" href='/brand_store'>add stores to brands</a>
            </p>

            <p>
                <a class="btn btn-primary" href='/'>Home</a>
            </p>
        </div>

    </body>

</html>
