<html>
    <head>
        <title>To Do List</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">

            {% if brands is not empty %}
            <h2>Brand with store listing:</h2>
            <ul>
                {% for brand in brands %}
                <li><a href="/brand/{{ brand.getId }}">{{ brand.getBrandName }}</a></li>
                {% set stores = brand.getStores %}
                {% for store in stores %}
                <ul>
                    <li><a href="/store/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                </ul>
                <br/>
                {% endfor %}
                {% endfor %}
        </ul>
        {% endif %}

        <h4>Add a Store</h4>

        <form action='/store_brand' method='post'>
            <label for='brand_name'>Brand Name:</label>
            <input id='brand_name' name='brand_name' placeholder='Nike' type='text'>

            <button type='submit'>Add</button>
        </form>

        <p>
            <a href='/store_brand'>Add a Store!</a>
        </p>

        <form action='/delete_all' method='post'>
            <button type='submit'>Clear All</button>
        </form>

        <p>
            <a href='/'>Home</a>
        </p>

    </div>
</body>
</html>
