<html>
    <head>

        <meta charset="utf-8">
        <title>Your feet need shoes!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/main.css">

    </head>
    <body>

        <div class="container">

                <header class="page-header">

                    <h1 class="text-center">View List</h1>

                </header>

                <div class="main">
                    <h2 class="text-center"><a href="/store_brand" >by Store </a><h2>
                    <h2 class="text-center"><a href="/brand_store" >by Brand </a></h2>
                </div>

                <div>
                    <form class="text-center" action='/delete_all' method='post'>
                        <button class="btn btn-default btn-lg" class="text-center" type='submit'>Clear All</button>
                    </form>
                </div>
        </div>

    </body>
</html>
