<html>
    <head>
        <title>Your feet need shoes</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/main.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <h1>Stores</h1>

            {% if stores is not empty %}
            <h3>List Stores:</h3>
            <p>- click for more info -</p>
            <ul>
                {% for store in stores %}
                <li>
                    <h4>
                        <strong>
                            <a href="/store/{{ store.getId }}">{{ store.getStoreName }}</a>
                        </strong>
                    </h4>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <h3>There are no stores yet!</h3>
            {% endif %}

            <form action="/stores_add_form">
                <button class="btn btn-default" type="submit">Add Store</button>
            </form>

            {% if display_form == true %}
            <form action="/add_store" method="post">
                <div class="form-group">
                    <label for="name">Store Name</label>
                    <input class="form-control" id="name" name="name" placeholder="Name" required type="text">
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
            {% endif %}
            <br>

            <form action="/">
                <button class="btn btn-default" type="submit">Home</button>
            </form>
        </div>

    </body>
</html>
