<html>

    <head>
        <meta charset="utf-8">
        <title>Your feet need shoes!</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>

        <div class="container">

            <div>

                {% if stores is not empty %}
                <p>Here are some stores!</p>
                <ul>
                    {% for store in stores %}
                    <li><a href="/store/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                    {% set brands = store.getBrands %}
                    {% for brand in brands %}
                    <ul>
                        <li><a href="/brand/{{ brand.getId }}">{{ brand.getBrandName }}</a></li>
                    </ul>
                    <br/>
                    {% endfor %}
                    {% endfor %}
            </ul>
            {% endif %}

        </div>

        <div>

            <form action='/store_brand' method='post'>
                <label for='store_name'>Shoe Store:</label>
                <input id='store_name' name='store_name' placeholder='Payless' type='text'>

                <button type='submit'>Add</button>
            </form>

            <p>
                <a href='/brand_store'>Add a Brand!</a>
            </p>

            <form action='/delete_all' method='post'>
                <button type='submit'>Clear All</button>
            </form>

            <p>
                <a href='/'>Home</a>
            </p>

        </div>

    </div>

</body>

</html>
